apiVersion: v2
name: tf-controller
description: A Weaveworks Helm chart for tf-controller
type: application
version: 0.0.3
kubeVersion: ">=1.17.0-0"
home: https://github.com/weaveworks/profiles-catalog
sources:
  - https://github.com/weaveworks/tf-controller

keywords:
- terraform
- gitops

maintainers:
  - name: Weaveworks
    email: support@weave.works

annotations:
  "weave.works/profile": tf-controller
  "weave.works/operator": "true"
  "weave.works/links": |
    - name: Chart Sources
      url: https://github.com/weaveworks/tf-controller
    - name: Upstream Project
      url: https://github.com/weaveworks/tf-controller
  "weave.works/profile-ci": |
    - "gke"
    - "kind"

dependencies:
- name: tf-controller
  version: "0.2.5"
  repository: "https://weaveworks.github.io/tf-controller/"
  condition: tf-controller.enabled
