
image: magalixcorp/policy-agent:master
namespace: policy-system
failurePolicy: Fail

usePersistence: false
claimStorage: 1Gi
sinkDir: /tmp

config:
  AGENT_FILESYSTEM_SINK_FILE_PATH: "/tmp/result.json"
  AGENT_ENABLE_K8S_EVENTS_SINK: "true"

accountId: ""
clusterId: ""

certificate: ""
key: ""
caCertificate: ""

